.search, .plus, .account-add {
    display: block;
    margin-bottom: 10px;
    height: 40px;
}

.search {
    width: 180px;
    border-radius: 20px;
    color: #7dc8c8;
    border: 2px solid #7dc8c8;
    font-weight: 800;
    font-size: 20px;
    font-style: bold;
    background-color: white;
}

.plus {
    width: 40px;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    font-weight: 200;
    border: none;
    background-color: #00d1b2;

}

.account-add {
    width: 250px;
    color: white;
    border: 2px solid black;
    font-weight: 300;
    font-size: 20px;
    background-color: #2b78e4;
    box-shadow: 3px 3px black;

}